include ../mixins/flash-messages

doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")

        title= title || 'My Keystone Website'
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        //- link(rel="stylesheet", href="/styles/site.min.css")
        link(rel='stylesheet', href='/styles/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/styles/stylesheets/style.css')
        block css
        block head
    body(screen_capture_injected='true')


    
        

        block intro

        +flash-messages(messages)

        block content

        #footer
          #nav.text-center
            p Powered by <a href='http://keystonejs.com', target='_blank'>KeystoneJS</a>.

    //- script(src='/js/jquery/jquery-2.1.4.min.js')

    block js
