html, body {
    height: 100%;
    width: 100%;
}
#register {
    position: relative;
    width: 80%;
    height: 100%;
    top: 25%;
    left: 10%;
}

/* left */

#register .left {
    position: relative;
    float: left;
    width: 20%;
    height: 50%;
}
.red-left {
    background-color: #F33637;
    width: 50%;
    height: 100%;
}
.white-left {}
.left-logo {
    width: 70%;
    position: absolute;
    left: 15%;
    top: 10%;
    /* top:10px; */
}
.left-logo img {
    width: 100%;
    height: 100%;
}

/* middle */

#register .middle {
    float: left;
    width: 50%;
    background-color: green;
    height: 50%;
}

/* right */

#register .right {
    float: left;
    width: 30%;
    background-color: orange;
    height: 50%;
}
