<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <style media="screen">
            html {
                font-size: 62.5%;
                10÷16=62.5%;
            }
            body {
              font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
                background-color: green;
                font-size: 12px;
                font-size: 1.2rem;
            }

        </style>
        <title></title>
    </head>
    <body>
        <div class="award-font" style="width:20%;">
            <h1>九悦（Joyor）A1电动滑板车</h1>
            <p>价值<span style="font-size:2em;color:red;">1799</span>元</p>
        </div>
        <div class="">
            <span style="color:white;font-weight:100;font-size:2.5em;">
                step1
            </span>
            <h2 style="color:white">注册登录</h2>

            <p style="font-size:1.5em;">注册要<span style="font-size:2em;color:black;">真实信息</span>哦~<br>大奖别让别人领走！</p>
            <p>注册信息用于联系发奖和证件核对，请注意填写真实信息~</p>
          <!--   <font style="font-weight:100;font-size:2.5em;">step1</font> -->
        </div>
        <div class=""></div>
    </body>
</html>
