<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>开学季首页</title>
    <style>
        /* body{
  background: #0d1424 url(images/body-bg.jpg) no-repeat center top;
  background:  url(images/index@small.png) no-repeat center top;
  height: 100%;
} */
    </style>
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <div class="background">
        <img src="images/background.png" alt="" />
        <div id="money">
            <img src="images/money.png" />
        </div>

        <!-- <div class="money" style="width:40%;height:10%;position:absolute;left:30%;top:8%;">
            <img src="images/money.png" alt="" style="width:100%;height:100%;" />
        </div> -->
        <!--         <div class="header" style="width:40%;height:60%;position:absolute;left:35%;top:8%;"> -->
        <!--     <div class="money">
    <img src="images/money.png" alt="" style="width:100%;height:100%;" />
</div> -->
        <div id="step">
            <div class="step-btn">
                <img src="images/index/stepbtn/1.png" />
            </div>
            <div class="step-btn">
                <img src="images/index/stepbtn/2.png" />
            </div>
            <div class="step-btn">
                <img src="images/index/stepbtn/3.png" />
            </div>
            <div class="step-btn">
                <img src="images/index/stepbtn/4.png" />
            </div>
        </div>
        <div id="start">
            <!--       <a href="http://www.baidu.com" style="cursor:url(images/index/hover.png),auto"> -->

            <a href="http://www.baidu.com">
                <button class="yellow" type="button" name="button" style="">Let's go!</button>
            </a>


        </div>
        <div id="award">
            <div class="award-btn">
                <img src="images/index/award/特等奖.png" style="height:120%" />
            </div>
            <div class="award-btn">
                <img src="images/index/award/一等奖.png" />
            </div>
            <div class="award-btn">
                <img src="images/index/award/二等奖.png" />
            </div>
            <div class="award-btn">
                <img src="images/index/award/三等奖.png" />
            </div>
            <div class="award-btn">
                <img src="images/index/award/幸运奖.png" style="height:130%" />
            </div>
        </div>
        <div id="award-name">
            <div class="award-font">
                <h1>大疆无人机</h1>
                <h3>Phantom 3 Professional</h3>
                <p>价值<span style="font-size:2em;color:red;">6499</span>元</p>
            </div>
            <div class="award-font">
                <h1>iPhone7</h1>
                <h3>Phantom 3 Professional</h3>
                <p>价值<span style="font-size:2em;color:red;">5288</span>元</p>
            </div>
            <div class="award-font">
                <h1>PS4双手柄</h1>
                <h3>+小小大星球套装</h3>
                <p>价值<span style="font-size:2em;color:red;">2800</span>元</p>
            </div>
            <div class="award-font">
                <h1>九悦（Joyor）<br>A1电动滑板车</h1>
                <h3></h3>
                <p>价值<span style="font-size:2em;color:red;">1799</span>元</p>
            </div>
            <div class="award-font">
                <h1>暴风魔镜<br>VR眼镜</h1>
                <h3></h3>
                <p>价值<span style="font-size:2em;color:red;">6499</span>元</p>
            </div>
        </div>

        <div id="content">
            <div class="step1">
                <img src="images/index/stepnote/step1.png" alt="" />
            </div>
            <div class="step2">
                <img src="images/index/stepnote/step2.png" alt="" />
            </div>
            <div class="step3">
                <img src="images/index/stepnote/step3.png" alt="" />
            </div>
            <div class="step4">
                <img src="images/index/stepnote/step4.png" alt="" />
            </div>
        </div>
        <div id="foot">

            <!-- <input type="image" src="images/index/button.png" ></input> -->
            <button class="foot-btn" style="background-color: transparent; border: 0;">Let's Go!</button>
            <!-- <input class="foot-btn yellow" type="button" src="images/index/button.png" value="aaa"></input> -->
            <!-- <button class="yellow foot-btn" type="button" name="button"><p style="font-size: 30px">aaaa</p></button> -->
        </div>
    </div>

</body>

<!--   <script type="text/javascript">
$(function(){
    $('#formbackground').height($(window).height());
    $('#formbackground').width($(window).width());
});
</script> -->

</html>
