<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>注册页面</title>
        <link rel="stylesheet" href="./css/register.css">
    </head>
    <body>
        <div id="register" style="position:relative;">
            <div class="left">
                <div class="red-left"></div>
                <div class="white-left"></div>
                <div class="left-logo">
                <img src="./images/register/left.png" alt="" /></div>
            </div>
            <div class="middle">
                <div class="content"></div>
                <div class="next-button"></div>
            </div>
            <div class="right">
                <div class="right-logo"></div>
                <div class="scan"></div>
            </div>
        </div>
    </body>
</html>
